.control-face {
    background-color: black;
    color: white;
}

.knob {
    display: grid;
    justify-items: center;
}

.key {
    &__white {
        width: 100px;
        background-color: beige;
        height: 50vh;
    }

    &__black {
        --width: 50px;
        width: var(--width);
        height: 25vh;
        background-color: black;
        color: white;
        margin-left: calc(var(--width) / -2);
        margin-right: calc(var(--width) / -2);
        z-index: 2;
    }
}

.lift {
    z-index: 1;
}